.light {
    --bg: #e4ecf1;
    --accent: #818793;
    --text: #1a1c1f;
    --fill: #263342;
    --dark: #202b3f;
}

.arizona {
    --bg: #6ECFB9;
    --accent: #EEF7EA;
    --text: #073F56;
    --fill: #B2E4CB;
    --dark: #2A918C;
}

.coffee {
    --bg: #CFB188;
    --accent: #8F7B5E;
    --text: #42392C;
    --fill: #695A45;
    --dark: #837056;
}

.purple {
    --bg: #29203B;
    --accent: #8F7B5E;
    --text: #A79CBA;
    --fill: #797287;
    --dark: #35313B;
}

.gray {
    --bg: #D7D2D9;
    --accent: #8B888C;
    --text: #4C4A4D;
    --fill: #989499;
    --dark: #747175;
}

.main {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    overflow: hidden;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 10vh;
    overflow: hidden;
}

#main .other-half {
    height: 85vh;
    overflow: hidden;
}

.content {
    padding-top: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px;
    height: 75vh;
    background-color: var(--fill);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.bottom { 
    bottom: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 1vh;
    width: 100%;
    height: 9vh;
}

.remain {
    font-family: 'Fira Code', mono;
    margin-bottom: 5px;
}

.header, .actions {
    display: flex;
    padding-top: 1vh;
    flex-flow: row wrap;
    justify-content: space-between;
}

.actions {
    border-radius: 10px;
    padding: 5px 30px;
}

.header .app-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
}

.roller {
    border: solid 1px var(--text);
    background-color: var(--dark);
    overflow-y: auto;
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    padding-top: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px;
}



@media only screen and (max-width: 600px) {
    #main {
        display: grid;
        overflow: hidden;
        padding: 0 1vh;
    }
}


.task {
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: var(--bg);
    margin: 5px 0px;
    vertical-align: middle;
}

.check {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0px !important;
}

.box {
    width:20px;
    height:20px;
}

.right {
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    justify-content: space-between;
}

.right span {
    margin-right: 2vh;
    font-size: larger;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;  }

::-webkit-scrollbar-thumb {
    background: var(--accent); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.add {
    background-color: var(--accent);
    height: 7vh;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark);
    padding: 1vh;
}

.add .add-input {
    width: 100%;
    height: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.add .add-button {
    height: 100%;
    width: 10%;
    font-family: "Cutive", cursive;
}

.add-button input {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: var(--bg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.settings {
    font-family: 'Cutive', serif;
}

.settings-btn {
    font-family: 'Cutive', serif;
    color: var(--text)!important;
}

.editorView {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.theme-selector {
    display: none;
    background-color: var(--bg);
}
