.light {
    --bg: #e4ecf1;
    --accent: #818793;
    --text: #1a1c1f;
    --fill: #263342;
    --dark: #202b3f;
}

.arizona {
    --bg: #6ECFB9;
    --accent: #EEF7EA;
    --text: #073F56;
    --fill: #B2E4CB;
    --dark: #2A918C;
}

.coffee {
    --bg: #CFB188;
    --accent: #8F7B5E;
    --text: #42392C;
    --fill: #695A45;
    --dark: #837056;
}

.purple {
    --bg: #29203B;
    --accent: #8F7B5E;
    --text: #A79CBA;
    --fill: #797287;
    --dark: #35313B;
}

.gray {
    --bg: #D7D2D9;
    --accent: #8B888C;
    --text: #4C4A4D;
    --fill: #989499;
    --dark: #747175;
}

.main {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    overflow: hidden;
}

body {
    -youbkit-touch-callout: none;
    -youbkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 10vh;
    overflow: hidden;
    height: 100vh;
}

#main .other-half {
    height: 85%;
    display: grid;
    grid-template-rows: 10% auto 10%;
    overflow: hidden;
}

.content {
    padding-top: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px;
    height: 100%;
    grid-row: 1 / 3;
    background-color: var(--fill);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.bottom { 
    bottom: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}

.remain {
    font-family: 'Fira Code', mono;
    background-color: var(--accent);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 10px;
    font-weight: 600;
    border-radius: 5px;
}

.header, .actions {
    display: flex;
    padding-top: 1vh;
    flex-flow: row wrap;
    justify-content: space-between;
}

.actions {
    border-radius: 10px;
    padding: 5px 30px;
}

.header .app-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
}

.roller {
    border: solid 1px var(--text);
    background-color: var(--dark);
    overflow-y: auto;
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    padding-top: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    #main {
        overflow: hidden;
        padding: 0 10px;
    }
}

.task {
    padding:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: var(--bg);
    margin: 10px 0px;
    margin-bottom: 0;
    vertical-align: middle;
}

.cxmenu {
    background-color: var(--text);
    margin-top: 0;
    border-radius: 15px;
    height: 102px;
    text-align: center;
}

.cxmenu .edit, .cxmenu .delete {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cxmenu .edit {
    color: rgb(91, 91, 255);
    margin-bottom: 2px;
}

.cxmenu .delete {
    color: rgb(253, 61, 61);
    border-top: solid gray 1px;
}

.modal {
    border-radius: 10px;
}
.modal-header, .modal-footer, .modal-content {
    background-color: var(--bg)!important;
    color: var(--text)!important;
    border: none!important;
}

.modal-title {
    font-weight: 500!important;
}

.modal-content {
    font-family: 'Fira Code', mono;
}

.check {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0px !important;
}

#cbox {
    width: 2em;
    height: 2em;
    background-color: var(--bg);
    border-radius: 25%;
    vertical-align: middle;
    border: 2px solid var(--text);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color ease-in 300ms;
}

#cbox:checked {
    padding: 5px!important;
    border-width: 5px;
    background-color: var(--text);
    display: flex;
    justify-content: center;
    transition: background-color ease-in 300ms;
}

.right {
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    justify-content: space-between;
}

.right span {
    margin-right: 2vh;
    font-size: larger;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bulk-section {
    display: flex;
    margin: 0;
    flex-flow: column nowrap;
    justify-content: center;
}

.confirmbtn {
    color: var(--bg)!important;
    background-color: var(--text)!important;
}

.cancelbtn {
    color: red!important;
    background-color: #fff!important;
}

.add-button {
    background-color: var(--text)!important;
    color: var(--bg)!important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;  }

::-webkit-scrollbar-thumb {
    background: var(--accent); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.done-true {
    text-decoration: line-through;
    color: grey;
    transform: text-decoration ease 600ms,
               color ease-in 500ms;
}

.archive-btn {
    font-family: 'Cutive', serif;
}

.settings {
    font-family: 'Cutive', serif;
}

.settingswrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: var(--text);
}

.settingswrap .settings-btn {
    font-weight: 600;
    box-shadow: 2px 2px 6px #1a1c1f;
    transition: background-color 0.3s ease-in-out;
}

.settingswrap .settings-btn:hover {
    color: var(--bg)!important;
    background-color: var(--text)!important;
    transition: color 0.3s ease-in-out;
}


.settings-btn {
    font-family: 'Cutive', serif;
    color: var(--text)!important;
    background-color: var(--text);
}

.editorView {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 20px;
}

.theme-selector {
    display: none;
    background-color: var(--bg);
}
